<template>
    <div class="fixed top-0 bg-black/50  w-full z-10 h-full left-0">
        <div class="w-2/12 mx-auto">

            <form @submit.prevent="handleEdit(studentInfo.id)">
                <div class="flex flex-col mt-3">
                    <label for="">StudentName</label>
                    <input type="text" required v-model="studentName"
                        class="p-2 border-none outline-none bg-gray-50 w-full rounded-md pl-3">
                </div>
                <div class="flex flex-col mt-3">
                    <label for="">Email</label>
                    <input type="text" required v-model="email"
                        class="p-2 border-none outline-none bg-gray-50 w-full rounded-md pl-3">
                </div>
                <div class="flex flex-col mt-3">
                    <label for="">Phone</label>
                    <input type="text" required v-model="phone"
                        class="p-2 border-none outline-none bg-gray-50 w-full rounded-md pl-3">
                </div>
                <div class="flex flex-col mt-3">
                    <button v-if="!isLoading"
                        class="bg-blue-500 mt-5 rounded-md p-2 px-5 text-white hover:bg-blue-600">Edit</button>
                    <button v-else disabled
                        class="bg-blue-500 mt-5 rounded-md p-2 px-5 text-white hover:bg-blue-600">Saving...</button>
                    <button @click="handleClose"
                        class="bg-red-500 mt-5 rounded-md p-2 px-5 text-white hover:bg-red-600">Close</button>
                </div>
            </form>
        </div>
    </div>



</template>

<script>
import { onMounted, ref } from 'vue'
import useCollectionStudent from '@/composable/useStudentCollection'
export default {
    props: ["studentInfo"],
    setup(props, { emit }) {

        const studentName = ref("")
        const email = ref("")
        const phone = ref("")

        onMounted(() => {
            studentName.value = props.studentInfo.studentName
            email.value = props.studentInfo.email
            phone.value = props.studentInfo.phone
        })

        console.log(props.studentInfo)
        const handleClose = () => {
            emit("close")
        }

        const { updateSudent } = useCollectionStudent("Student")
        const handleEdit = async (id) => {

            const data = {
                studentName: studentName.value,
                email: email.value,
                phone: phone.value
            }
            await updateSudent(id, data)
            console.log(data)
            handleClose();

        }
        return { handleClose, studentName, email, phone, handleEdit }
    }
}
</script>

<style></style>