<template>
  <div class="w-8/12 mx-auto">
    <h1 class="text-2xl font-bold">Edit Employee</h1>
    <hr>
    <div class="mt-5">
      <form @submit.prevent="updateEmployee" class="space-y-3">
        <div class="flex flex-col font-bold">
          <label for="">EmployeeName</label>
          <input type="text" required v-model="employeeInfo.employeeName"
            class="border-none outline-none p-2 rounded-md bg-gray-100 w-96" placeholder="EmployeeName">
        </div>
        <div class="flex flex-col font-bold">
          <label for="">Phone</label>
          <input type="text" required v-model="employeeInfo.phone" class="border-none outline-none p-2 rounded-md bg-gray-100 w-96"
            placeholder="Phone">
        </div>
        <div class="flex flex-col font-bold">
          <label for="">Email</label>
          <input type="text" v-model="employeeInfo.email" required class="border-none outline-none p-2 rounded-md bg-gray-100 w-96"
            placeholder="Email">
        </div>
        <div class="flex flex-col font-bold">
          <label for="">Image</label>
          <input type="file" ref="fileInput" @change="handleChange" class="border-none outline-none p-2 rounded-md bg-gray-100 w-96">
          <img v-if="urls" width="100px" :src="urls" :key="urls" alt="">
          <img v-else width="100px" :src="employeeInfo.url" :key="employeeInfo.url" alt="">
        </div>
        <div>
          <button class="bg-blue-500 p-2 rounded-md text-white  px-3">Edit</button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import { doc, getDoc, updateDoc } from 'firebase/firestore';
import { projectFireStore } from '@/firebase/config';
import useStorage from '@/composable/useStorage';
import { getDownloadURL, getStorage, ref as itemStorageRef, uploadBytes } from 'firebase/storage';

export default {

  data() {
    return {
      id: null,
      selectPost: [],
      docRef: null,
      employeeInfo: {
        employeeName: null,
        phone: null,
        email: null,
        url: null,
      },
      urls: null,
      selectedFile: [],
      fileInput: null,
    }
  },
  methods: {
    async handleChange(e) {
      
        const file = e.target.files[0]
        this.urls = URL.createObjectURL(file)
        this.selectedFile = file;
   
    },

    async getEmployee() {
      try {
        const postRef = doc(projectFireStore, "employee", this.id)
        this.docRef = postRef;
        const postSnapshot = await getDoc(this.docRef)
        if (postSnapshot.exists()) {
          this.selectPost = postSnapshot.data();
          this.employeeInfo.employeeName = this.selectPost.employeeName;
          this.employeeInfo.phone = this.selectPost.phone;
          this.employeeInfo.email = this.selectPost.email;
          this.employeeInfo.url = this.selectPost.url
        }
      }
      catch (err) {
        console.log(err)
      }
    },
    async updateEmployee() {
      const { deleteImage } = useStorage()
      try {
        if (this.selectedFile && this.selectedFile.length === 0) {

          await updateDoc(this.docRef, this.employeeInfo);
          this.$router.push("/emp");
        }
        else {
            const storage = getStorage();
            const storageRef = itemStorageRef(storage, "employee/" + this.selectedFile.name)

            if(this.selectedFile){
              await deleteImage(this.employeeInfo.url)
              await uploadBytes(storageRef, this.selectedFile);

              await updateDoc(this.docRef, this.employeeInfo);
              this.$router.push("/emp")

              const url_image = await getDownloadURL(storageRef);
              await updateDoc(this.docRef, {
                url: url_image
              })

              console.log("image upload image", url_image)

            }
        }
      }
      catch (err) {
        console.log(err)
      }
    }
  },

  created() {
    this.id = this.$route.params.id;
    this.getEmployee();
  }
}
</script>

<style></style>