<template>
    <div class="w-8/12 mx-auto">
        <h1 class="text-2xl font-bold">Create Employee</h1>
        <hr>
        <div class="mt-5">
            <form @submit.prevent="saveEmployee" class="space-y-3">
                <div class="flex flex-col font-bold">
                    <label for="">EmployeeName</label>
                    <input type="text" required v-model="employeeName"
                        class="border-none outline-none p-2 rounded-md bg-gray-100 w-96" placeholder="EmployeeName">
                </div>
                <div class="flex flex-col font-bold">
                    <label for="">Phone</label>
                    <input type="text" required v-model="phone"
                        class="border-none outline-none p-2 rounded-md bg-gray-100 w-96" placeholder="Phone">
                </div>
                <div class="flex flex-col font-bold">
                    <label for="">Email</label>
                    <input type="text" v-model="email" required
                        class="border-none outline-none p-2 rounded-md bg-gray-100 w-96" placeholder="Email">
                </div>
                <div class="flex flex-col font-bold">
                    <label for="">Image</label>
                    <input  type="file" @change="handleChangeImage" :key="fileInputKey"
                        class="border-none outline-none p-2 rounded-md bg-gray-100 w-96">
                    <img width="100px" :src="urls" :key="urls" alt="">
                </div>
                <div>
                    <button class="bg-blue-500 p-2 rounded-md text-white  px-3">Submit</button>
                </div>
            </form>
        </div>
        <TableEmployeeVue/>
    </div>
</template>

<script>
import { ref } from 'vue'
import { getDownloadURL, getStorage, ref as imageRef, uploadBytes } from 'firebase/storage'
import useEmployeeCollection from '@/composable/useEmployeeCollection'
// import getEmployeeCollection from '@/composable/getEmployeeCollection'
import TableEmployeeVue from '@/components/TableEmployee.vue'
export default {
    components:{
        TableEmployeeVue
    },
    setup() {
        const employeeName = ref("")
        const phone = ref("")
        const email = ref("")
        const urls = ref(null)
        const selectedFile = ref(null)
        const fileInputKey = ref("")
       

        const handleChangeImage = (event) => {
            try {
                const file = event.target.files[0];
                urls.value = URL.createObjectURL(file);
                selectedFile.value = file;
            }
            catch (err) {
                console.log(err)
            }
        }
        const { addEmployeeDoc } = useEmployeeCollection("employee")
        const saveEmployee = async () => {
            const file = selectedFile.value
            const limitedSize = 1024 * 1024;
            if (!file) {
                alert("No file select");
            } else if (file.size > limitedSize) {
                alert("Size image must be equal 1 mb");
            }
            else {
                const storage = getStorage()
                const storageRef = imageRef(storage, "employee/" + file.name)
                try {
                    await uploadBytes(storageRef, file)
                    const url = await getDownloadURL(storageRef)

                    const data = {
                        employeeName: employeeName.value,
                        phone: phone.value,
                        email: email.value,
                        url: url
                    }
                    await addEmployeeDoc(data)
                    console.log(data)
                    urls.value = null
                    fileInputKey.value++;
                    clearEmp();
                  
                }
                catch (err) {
                    console.log(err)
                }
            }
        }

        function clearEmp(){
            employeeName.value = ""
            email.value = ""
            phone.value = ""
        }
        //get employee Collection
    
        return { employeeName, phone, email, urls, selectedFile, handleChangeImage, saveEmployee, fileInputKey,clearEmp}
    }

}
</script>

<style></style>