<template>
    <div class="w-2/12 mx-auto">
        <div class="mt-4">
            <h1 class="text-4xl">Student</h1>
        </div>
        <form @submit.prevent="handleSubmit">
            <div class="flex flex-col mt-3">
                <label for="">StudentName</label>
                <input type="text" required v-model="studentName"
                    class="p-2 border-none outline-none bg-gray-50 w-full rounded-md pl-3">
            </div>
            <div class="flex flex-col mt-3">
                <label for="">Email</label>
                <input type="text" required v-model="email"
                    class="p-2 border-none outline-none bg-gray-50 w-full rounded-md pl-3">
            </div>
            <div class="flex flex-col mt-3">
                <label for="">Phone</label>
                <input type="text" required v-model="phone"
                    class="p-2 border-none outline-none bg-gray-50 w-full rounded-md pl-3">
            </div>
            <div class="flex flex-col mt-3">
                <button v-if="!isLoading"
                    class="bg-blue-500 mt-5 rounded-md p-2 px-5 text-white hover:bg-blue-600">Save</button>
                <button v-else disabled
                    class="bg-blue-500 mt-5 rounded-md p-2 px-5 text-white hover:bg-blue-600">Saving...</button>
            </div>
        </form>
    </div>
    <div class="w-5/12 mx-auto mt-5">
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            StudentName
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Email
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Phone
                        </th>
                      
                        <th scope="col" class="px-6 py-3">
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="student in documents" :key="student.id"
                        class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                       
                        <td class="px-6 py-4">
                            {{ student.studentName }}

                        </td>
                        <td class="px-6 py-4">
                            {{ student.email }}
                        </td>
                        <td class="px-6 py-4">
                            {{ student.phone }}
                        </td>
                        <td class="px-6 py-4 space-x-3">
                           <button @click="handleDelete(student.id)" class="bg-danger p-2 bg-red-500 rounded-md text-white hover:bg-red-600 ">Delete</button>
                           <button @click="handleEdit(student)" class=" p-2 bg-blue-500 rounded-md text-white hover:bg-blue-600 ">Edit</button>
                        </td>                     
                    </tr>                 
                </tbody>

            </table>
        </div>
        <component :is="currentComponent" @close="currentComponent ='' " :studentInfo="studentInfo"/>
    </div>
</template>

<script>
import useCollectionStudent from '@/composable/useStudentCollection';
import getStudentCollection from '@/composable/getSudentCollection';
import { ref } from 'vue';
import editStudentModalVue from '@/modal/editStudentModal.vue';
export default {
    components:{
        editStudentModalVue
    },
    setup() {
        const studentName = ref("")
        const email = ref("")
        const phone = ref("")
        const currentComponent = ref("")
        const studentInfo = ref(null)

        const { addStudentDocs, isLoading, deleteStudent } = useCollectionStudent("Student")
        const handleSubmit = async () => {
            const data = {
                studentName: studentName.value,
                email: email.value,
                phone: phone.value
            }
            await addStudentDocs(data)
            console.log(data)
        }



        //get Student

        const {documents} = getStudentCollection("Student")
        console.log(documents)
        
        //delete student

        const handleDelete = async(id) => {
            if(confirm("Are you sure delete")){
                alert("Delete Successfull!")
                await deleteStudent(id)
                console.log(id)
            }
        }

        //edit 
        const handleEdit = (student) =>{
            currentComponent.value = "editStudentModalVue"
            studentInfo.value = student
        }
        

        return { studentName, email, phone, handleSubmit, isLoading,documents, handleDelete, handleEdit, currentComponent,studentInfo }
    }
}
</script>

<style></style>