<template>
  

<div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-2">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    EmployeName
                </th>
                <th scope="col" class="px-6 py-3">
                    Phone
                </th>
                <th scope="col" class="px-6 py-3">
                    Email
                </th>
                <th scope="col" class="px-6 py-3">
                    Image
                </th>
                <th scope="col" class="px-6 py-3">
                    <span class="sr-only">Action</span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="emp in documents" :key="emp" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
             
                <td class="px-6 py-4">
                    {{ emp.employeeName }}
                </td>
                <td class="px-6 py-4">
                    {{ emp.phone }}
                </td>
                <td class="px-6 py-4">
                    {{ emp.email }}
                </td>
                <td class="px-6 py-4">
                    <img :src="emp.url" width="50px" alt="">
                </td>
                <td class="space-x-2">
                    <router-link :to="{name: 'emp_edit', params: {id: emp.id} }" class="bg-blue-500 p-2 px-3 hover:bg-blue-400 transition-all duration-150 text-white rounded-md">Edit</router-link>
                    <button @click="deleteEmployee(emp.id, emp.url)" class="bg-red-500 p-2 px-3 rounded-md text-white hover:bg-red-600 transition-all duration-200">Delete</button>
                </td>
            </tr>      
        </tbody>
    </table>
</div>

</template>

<script>
import getEmployeeCollection from '@/composable/getEmployeeCollection';
import useStorage from "@/composable/useStorage"
import useEmployeeCollection from '@/composable/useEmployeeCollection';
export default {
    setup(){
        const {documents} = getEmployeeCollection("employee")

        const {deleteImage} = useStorage()
        const {removeDocs} = useEmployeeCollection("employee")
        const deleteEmployee = async(id, url) => {

            if(confirm("Are you sure delete?")){
                try{
                    alert("Save successfull....")
                    if(url){
                        await deleteImage(url)
                        console.log(url)
                    } 
                   await removeDocs(id)
                }
                catch(err){
                    console.log(err)
                }
            }

        }
        return {documents, deleteEmployee}
    }
}
</script>

<style>

</style>